@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    background-color: black;
    padding: 1rem;
    font-family: 'Space Mono', monospace;
    color: rgb(0, 185, 0);
    font-weight: 400;
    font-size: 1.2rem;
    text-shadow: 0rem 0rem 1rem rgb(0, 220, 0);
}

button {
    border: 3px solid rgb(0, 185, 0);
    background-color: black;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-shadow: inherit;
    transition: all 0.5s;
    padding: 1rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.terminal {
    padding-bottom: 100px;
}
